@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Berliner Fraktur";
    src: url("https://db.onlinewebfonts.com/t/5e93bbe9f881d16c72596c26b47a6c23.eot");
    src: url("https://db.onlinewebfonts.com/t/5e93bbe9f881d16c72596c26b47a6c23.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/5e93bbe9f881d16c72596c26b47a6c23.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/5e93bbe9f881d16c72596c26b47a6c23.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/5e93bbe9f881d16c72596c26b47a6c23.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/5e93bbe9f881d16c72596c26b47a6c23.svg#Berliner Fraktur")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-family: "Berliner Fraktur";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
